<div class="container">

  <div class="div-conversor">

    <div class="div-title">
      <h1>Conversor | Turma de Formação</h1>
    </div>
    <div class="signOut">
      <button (click)="onSignOut()" mat-raised-button color="primary">
        <span class="material-icons">
          logout
        </span>
        Sair
      </button>
    </div>

    <div class="div-aux">

      <select [(ngModel)]="moeda1" class="select-moedas" name="select">
        <option class="option-moedas" *ngFor="let item of list" [value]="item.high">{{item.name}}</option>
      </select>

      <input [(ngModel)]="value" type="text" id="input-value" placeholder=" Insira o valor a ser convertido." matInput>
    </div>

    <button (click)="converter()" class="button-convert" mat-raised-button color="primary">CONVERTER</button>



    <div class="result">
      <span>Resultado:</span>

      <span>R$: {{resultConverter}}</span>

    </div>
  </div>
</div>